<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Home</title>
<style>
body
    {
    background-image: url("Thyroid-png.jpg" );
    background-size : auto;
    background-color: powderblue;
    }
    p

    {
     font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
     font-style: initial;
             font-size: 200%;
             color: rgb(3, 3, 3);

    }
    h1
    {
        text-align: center;
    }

</style>
</head>
<body>
    <!--<input type="image" src="Submit.png"width="100">-->
    <a href="Home.html">
        <button>Home</button></a>
        <a href="Predict.html">
            <button>Predict</button></a><br><br>
    <h1>Thyroid Disease Classification</h1>
<p> The two types of Thyroid disorders are Hyperthyroidism ans Hypothyrodisim.  When this disorder occurs in the body, they release certain type of hormones into the body which imbalance the body's metabolism.
    Machine Learning plays a very deciding role in the disease prediction.</p>
</body>
</html>